<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="../stylesheets/reset.css" rel="stylesheet" type="text/css"/>
<link href="../stylesheets/style.css" type="text/css" rel="stylesheet"/>
</head>

<body>
<!--最外层w-->
<div class="w">
  <div class="zhuangtai">
  </div>
  <!--zhuangtai end-->
    <div class="daohang">
    <div id="left">
     <img src="../images/fanhui.png" />
    </div><!--left end-->
    <div id="zho">
      <p>事务详情</p>
    </div><!--zho end-->
    <div id="right">
     <img src="../images/chakan@2x.png"/>
    </div><!--right end-->
   </div><!--daohang end--> 
    
    <!--以下为内容部分--> 
  <div class="neirong">
   <div class="top">
       <div id="timu">
        <p>论语十则</p>
       </div><!--timu end-->
       <div id="photo">
        <img src="file:///Users/sdnydxzp/Library/Application%20Support/iPhone%20Simulator/6.1/Applications/BB4F8A2D-60EB-42F9-BC1F-EB7D49EA69A5/UploadImage.app/114.jpeg"/>
      </div><!--photo end--> 
      <div id="renming">
      <p>张三</p>
      </div> <!--renming end--> 
      <div id="shijian">
      <p>PM2.15小时</p>
      </div> <!--shijian end--> 
      <div id="at">
      <p>@张三@张三@张三@张三@张三</p>
      </div> <!--at end--> 
      <div id="lakai">
      <img src="../images/fanhuihui.png"/>
      </div> <!--lakai end-->         
  </div><!--top end--> 
   <!--以下是内容的详情--> 
    <div id="xiangqing">
    <p>子曰："学而时习之，不亦说乎？有朋自远方来，不亦乐乎？</p>   
    <img src="../images/fengjing.png"/>
    </div><!--xiangqing end-->     
  </div> <!--neirong end-->
  <div class="bottom">
    <div id="shoucang">
    <img src="../images/collect.png"/>
    <p>收藏</p>
    </div><!--shoucang end--> 
    <div id="zhuanfa">
    <img  src="../images/zhuanfa.png"/>
    <p>转发</p>
    </div><!--zhuanfa end-->
    <div id="pinglun">
    <img src="../images/pinglun.png"/>
    <p>评论</p>
    </div><!--zhuanfa end--> 
  </div><!--bottom end-->
     
    </div>
<!--最外层w结束-->
</body>
</html>
